.advantage-wrapper {
    background-color: $primary-color;
    @media (min-width: 993px) {
        background-color: #F4F4F4;
    }
}

.advantage {
    @media (min-width: 993px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        padding-top: 98px;
    }
    &__title {
        font-size: 32px;
        line-height: 35px;
        font-weight: bold;
        color: $nav-color;
        text-align: center;
        padding: 32px 0 36px;
        margin: 0 auto;
        @media (min-width: 481px) {
        font-size: 42px;
        line-height: 42px;
        padding: 62px 0 50px;
        }
        @media (min-width: 993px) {
        display: none;
        }
    }
    &__post {
        margin: 0;
        // @media (min-width: 993px) {
        //     flex-grow: 0.5;
        // }
    }
}

.advantage-post__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: 481px) {
        flex-direction: row;
        align-items: flex-start;
        padding: 0 20px 60px 20px;
    }
    @media (min-width: 993px) {
        padding: 0 0 35px 30px;
    }
}

.post__img {
    display: flex;
    @media (min-width: 481px) {
        min-width: 131px;
        padding-right: 23px;
    }
}

.p-text {
    padding: 25px 10px 40px;
    @media (min-width: 481px) {
        padding: 0;
    }
    &__title {
        font-weight: normal;
        font-size: 16px;
        font-weight: 16px;
        color: #323232;
        text-align: center;
        margin: 0;
        padding-bottom: 14px;
        @media (min-width: 481px) {
            padding-bottom: 14px;
        }
    }
    &__content {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #848E97;
        margin: 0;
        @media (min-width: 481px) {
            text-align: left;
        }
    }
}

.adv-img {
    &__title {
        display: none;
        @media (min-width: 993px) {
            display: flex;
            font-size: 48px;
            line-height: 48px;
            font-weight: bold;
            color: $nav-color;
            padding: 0 0 0 20px;
            margin: 0 auto;
        }
    }
    &__big-img {
        margin-right: -10px;
        display: flex;
        justify-content: flex-end;
        object-fit: contain;
        padding-top: 24px;
        @media (min-width: 481px) {
            padding-top: 16px;
        }
    }
}

.adv-img__big-img img {
    max-width: 100%;
}
