.forktalking {
  width: 100%;
  background-image: url(../img/forktalking-bg-s.webp);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  @media (min-width: 481px) {
    background-image: url(../img/forktalking-bg-m.webp);
  }
  @media (min-width: 993px) {
    background-image: url(../img/forktalking-bg-l.webp);
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: $primary-color;
    padding: 57px 0 53px;
    margin: 0 auto;
    @media (min-width: 481px) {
      padding: 87px 0 88px;
      font-size: 42px;
      line-height: 44px;
    }
    @media (min-width: 993px) {
      padding: 108px 0 82px;
      font-size: 48px;
      line-height: 50px;
    }
  }
  &__brands {
    display: grid;
    flex-wrap: wrap;
    justify-items: center;
    grid-template-columns: 1fr;
    @media (min-width: 481px) {
      grid-template-columns: 47% 47%;
      justify-content: space-between;
    }
    @media (min-width: 993px) {
      grid-template-columns: 28% 28% 28%;
      justify-content: space-around;
    }
  }
  &__content {
    max-width: 887px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #a291a5;
    padding: 37px 25px 15px;
    margin: 0 auto;
    @media (min-width: 481px) {
      padding: 22px 20px 11.5px;
    }
    @media (min-width: 481px) {
      padding: 7px 20px 3.5px;
    }
  }
}

.brand-wrapper {
  display: grid;
  grid-template-rows: 65px 1fr;
  justify-items: center;
  padding-bottom: 45px;
  max-width: 354px;
  &:last-child {
    padding-bottom: 0;
  }
  @media (min-width: 993px) {
    padding-bottom: 111px;
  }
}

@media (min-width: 481px) {
  .brand__img {
    display: flex;
    align-items: center;
  }
}

.brand__text {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 21.5px;
  text-align: center;
  color: $primary-color;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media (min-width: 481px) {
    padding: 25px 7px 0;
  }
}

@media (max-width: 480px) {
  .brand__text--1 {
    padding-top: 11px;
  }

  .brand__text--2 {
    padding-top: 14px;
  }

  .brand__text--3 {
    padding-top: 21px;
  }

  .brand__text--4,
  .brand__text--6 {
    margin-top: -8px;
  }
}
