*,
::after,
::before{
    box-sizing: border-box;
}

ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.page-container {
    margin: 0 auto;
    font-family: $font-stack;
    min-width: 320px;
    background-color: $primary-bg-color;
}

.container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1220px;
    padding: 0 10px;
    // @media (min-width: 481px) {
    //   min-width: 481px;
    // }
    // @media (min-width: 1200px) {
    //   min-width: 1170px;
    // }
  }
