.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #27262A;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  @media (min-width: 993px) {
    background-color: transparent;
  }
  @media (min-width: 1200px) {
    left: calc((100vw - 1220px) / 2);
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  @include flex-center;
  padding-left: 6px;
  @media (min-width: 481px) {
    padding-left: 10px;
  }
  @media (min-width: 993px) {
    padding-left: 30px;
  }
  @media (min-width: 1100px) {
    padding-left: 55px;
  }
  @media (min-width: 1200px) {
    padding-left: 80px;
  }
  &__text {
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: $nav-color;
    padding-left: 17px;
    @media (min-width: 481px) {
      display: block;
    }
  }
}

.img__hover {
  display: none;
}

.logo:hover .img__original {
  display: none;
}

.logo:hover .img__hover {
  display: block;
}

.logo:hover .logo__text {
  color: $primary-color;
}

.nav-btn {
  @include flex-center;
  background-color: $nav-color;
  border-radius: 40px;
  border: 1px solid $nav-color;
  padding: 11px 0;
  width: 119px;
  margin: 34px 0 32px;
  @media (min-width: 481px) {
    width: 145px;
    margin: 24px 10px 23px 0;
  }
  @media (min-width: 993px) {
    margin: 31px 30px 31px 0;
  }
  @media (min-width: 1100px) {
    margin-right: 55px;
  }
  @media (min-width: 1200px) {
    margin-right: 80px;
  }
  &__text {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color: $primary-color;
    @media (min-width: 481px) {
      font-size: 16px;
      line-height: 16px;
    }
  }
  &:hover {
    background-color: $primary-color;
  }
}

.nav-btn:hover .nav-btn__text {
  color: $nav-color;
}

.nav-burger {
  float: right;
  width: 31px;
  height: 26px;
  background-color: inherit;
  border: none;
  outline: none;
  padding: 0;
  padding-right: 5px;
  cursor: pointer;

  &__line {
    @include flex-center;
    position: relative;
    width: 26px;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 5px;
  
    &::before,
    &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 3px;
        background-color: #FFFFFF;
        border-radius: 5px;
    }
    &::before {
        top: -7.5px;
        width: 15px;
    }
    &::after {
        top: 7.5px;
        width: 26px;
    }
  }
  @media (min-width: 481px) {
    display: none;
  }
}

.nav-menu {
  display: none;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  @media (max-width: 480px) {
    background-color: #333333;
  }
  @media (min-width: 481px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 993px) {
    justify-content: flex-end;
    margin-right: 175px;
    margin-left: 195px;
    margin-top: -56px;
  }
  @media (min-width: 1100px) {
    margin-right: 200px;
    margin-left: 220px;
  }
  @media (min-width: 1200px) {
    margin-right: 225px;
    margin-left: 245px;
  }
  &__item {
    font-size: 26px;
    line-height: 38px;
    text-align: left;
    color: $primary-color;
    @media (min-width: 481px) {
      font-size: 13px;
      line-height: 13px;
      padding: 1.5px 18px 19.5px 18px;
      color: $nav-color;
    }
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 16px;
      padding: 0 23.5px 18px 23.5px;
    }
    @media (min-width: 993px) {
      padding-right: 48px;
      padding: 0 48px 18px 0;
    }
    &:hover {
      @media (min-width: 481px) {
        color: #FFFFFF;
      }
    }
  }
}

@media (max-width: 480px) {
  .nav-burger.nav-burger--active {
    outline: none;
  }
  .nav-burger.nav-burger--active .nav-burger__line {
    background-color: inherit;
    &::before {
      width: 26px;
      height: 2px;
      top: 50%;
      @include transform(rotate(-45deg));
      transition: transform 0.5s;
  }
    &::after {
      top: 50%;
      height: 2px;
      @include transform(rotate(45deg));
      transition: transform 0.5s;
  }
  }

  .nav-menu.nav-menu--active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 103px;
    left: 10px;
    width: calc(100vw - 20px);
    background-color: #333333;
    align-items: flex-start;
  }

  .nav-menu.nav-menu--active .nav-menu__item {
    width: 100%;
    padding: 29px 0 21px 35px;
    border-bottom: 3px solid #3B3B3B;
    &:hover {
      color: $nav-color;
      cursor: pointer;
    }
    &:active {
      color: $nav-color;
      cursor: pointer;
    }
    &:focus {
      color: $nav-color;
      cursor: pointer;
    }
  }

  .nav-menu__item {
    position: relative;
  }

  .nav-menu.nav-menu--active .nav-menu__item:hover::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    width: 8px;
    height: 53px;
    background-color: $nav-color;
  }

  .nav-menu.nav-menu--active .nav-menu__item:active::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    width: 8px;
    height: 53px;
    background-color: $nav-color;
  }

  .nav-menu.nav-menu--active .nav-menu__item:focus::before {
    content: "";
    position: absolute;
    top: 19px;
    left: 0;
    width: 8px;
    height: 53px;
    background-color: $nav-color;
  }

  .nav-menu.nav-menu--active .nav-menu__item:last-child::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    height: 14px;
    background-color: #333333;
  }
}