.intro {
    position: relative;
    width: 100%;
    background-image: url(../img/intro-bg.webp);
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    &__title {
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: $primary-color;
        margin: 0;
        @media (max-width: 480px) {
            padding: 154px 0 19px;
        }
        @media (min-width: 481px) {
            padding: 187px 0 19px;
            font-size: 72px;
            line-height: 72px;
        }
        @media (min-width: 993px) {
            padding: 175px 0 19px;
            font-size: 82px;
            line-height: 82px;
        }
    }
    &__content {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: $nav-color;
        margin: 0 auto;
        @media (min-width: 481px) {
            font-size: 24px;
        }
        @media (min-width: 993px) {
            font-size: 30px;
            line-height: 30px;
        }
    }
    &__content--mobile {
        margin: 0 auto;
        @media (min-width: 481px) {
            display: none;
        }
    }
    &__content--not-mobile {
        display: none;
        @media (min-width: 481px) {
            display: block;
            margin: 0 auto;
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            line-height: 24px;
        }
        @media (min-width: 993px) {
            font-size: 30px;
            line-height: 30px;
        }
    }
    &__version {
        @include flex-center;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #848E97;
        padding: 19px 0 394px;
        @media (min-width: 481px) {
            padding: 19px 0 406px;
        }
        @media (min-width: 707px) {
            padding: 19px 0 432px;
        }
        @media (min-width: 993px) {
            font-size: 16px;
            line-height: 16px;
            padding: 19px 0 420px;
        }
    }
}

.intro-footer {
    @include flex-center;
    position: absolute;
    flex-direction: column;
    bottom: -49.5px;
    left: calc((100vw - 290px) / 2);
    &__btn-download {
        @include flex-center;
        margin: 0 auto;
        background-color: $nav-color;
        border-radius: 40px;
        border: 1px solid #8D81AC;
        padding: 13px 0;
        width: 290px;
        @media (min-width: 481px) {
            width: 390px;
            padding: 19.5px 0;
        }
        &:hover {
            background-color: $primary-color;
        }
    }
    &__description {
        @include flex-center;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #848E97;
        padding-top: 12.5px;
        @media (min-width: 481px) {
            line-height: 16px;
            padding-top: 18.5px;
        }
        @media (min-width: 993px) {
            line-height: 15px;
            padding-top: 19px;
        }
    }
    @media (min-width: 481px) {
        bottom: -65.5px;
        left: calc((100vw - 390px) / 2);
    }
}

.btn-download__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: $primary-color;
    @media (min-width: 481px) {
    font-size: 21px;
    line-height: 23px;
    }
}

.btn-download:hover .btn-download__text {
    color: $nav-color;
}