.editor {
  text-align: center;
  background-color: $editor-bg-color;
}

.editor-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #635c73;
  padding-top: 79.5px;
  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 42px;
  }
  @media (min-width: 993px) {
    font-size: 54px;
    line-height: 54px;
  }
}
.editor-text {
  // font-family: $font-editor;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  margin-left: -5px;
  margin-bottom: 36px;
  @media (min-width: 481px) {
    min-width: 689px;
    padding: 0 40px 24px 39px;
    font-size: 21px;
    line-height: 32px;
  }
  @media (min-width: 993px) {
    padding: 0 135px 13px 135px;
  }
}
.buttons {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #323232;
}
.button {
  border: 1px solid #c9c5c5;
  border-radius: 3px;
  padding: 5px 7px 5px;
  margin-right: 6px;
}

.button__icon {
  padding-top: 3px;
}
.button__second {
  padding-left: 6px;
}
.advantage__title {
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
  color: $nav-color;
  padding: 42px 0 47px 0;
  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 44px;
    padding-left: 66px;
  }
  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
  }
}

.advantage__title:before {
  content: "\3C";
}
.advantage__title:after {
  content: "\3E";
}

.advantage-post {
}
.advantage-post__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  @media (min-width: 481px) {
    flex-direction: row;
  }
}
.advantage-post__item:last-child {
  position: relative;
}

.post {
  @media (min-width: 481px) {
    display: block;
    flex-direction: row;
    margin-left: 15px;
    margin-right: 26.5px;
  }
}

.post__title {
  font-size: 16px;
  font-weight: 16px;
  margin-top: 27px;
  color: #323232;
}

.post__content {
  margin-top: 14px;
  line-height: 21px;
  color: #848e97;
}
